<div>
  <div class="modal" style="width: 100%;" tabindex="-1" id="kvkk">
    <div class="modal-dialog col-md-12">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">KVKK METNİ</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closeModel()" aria-label="Close"></button>
        </div>
        <div class="modal-body my-5">
          <div [innerHTML]="fair.kvkkText">
          </div>
          <button (click)="kvkkAccept()" class="btn btn-info">Okudum. Kabul Ediyorum.</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal" style="width: 100%;" tabindex="-1" id="et">
    <div class="modal-dialog col-md-12">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">ELEKTRONİK İLETİ ONAY METNİ</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closeModelEt()" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div [innerHTML]="fair.etText">
          </div>
          <button (click)="etAccept()" class="btn btn-info">Okudum. Kabul Ediyorum.</button>
        </div>
      </div>
    </div>
  </div>
  

  <app-header></app-header>

    <main>
      <!-- Steps Area Start -->
      <section class="steps-area py-5 news">
        <div class="container">
          <div class="d-flex flex-column  justify-content-between align-items-md-center">
            <div class="mb-3 mb-md-0 news">
              <h3 class="title form2 item-center">Ziyaretçi Formu</h3>
              <p class="title form2 p">Formu doldurun, dijital bilete sahip olun!</p>
            </div>
          </div>
        </div>
      </section>

      <section class="form-area py-3">
        <div class="container">
          <h1 class="form-heading form2">Bilgilerim</h1>
          <form class="py-4" [formGroup]="reservationAddForm" >
            <div class="row g-5 pb-4">
        
              <div class="col-md-4 field">
                <input type="text" name="name" formControlName="name"  placeholder="Adınız & Soyadınız*" id="name" required>
                <label for="name" data-title="Adınız & Soyadınız*"></label>
                <div *ngIf="f['name'].invalid && (f['name'].dirty || f['name'].touched)" class="text-danger">
                  Bu alan zorunludur.
                </div>
              </div>
          
              <div class="col-md-4 field">
                <input type="text" name="telephone" formControlName="phoneNumber" id="phoneNumber" placeholder="Telefon*"
                  required="" (blur)="onPhoneNumberBlur($event)">
                <label for="phoneNumber" data-title="Telefon*"></label>
                <div *ngIf="f['phoneNumber'].invalid && (f['phoneNumber'].dirty || f['phoneNumber'].touched)" class="text-danger">
                  Bu alan zorunludur.
                </div>
              </div>
              <div class="col-md-4 field">
                <input type="text" name="email" formControlName="mail" placeholder="E-posta adresiniz*" required>
                <label for="email" data-title="E-posta adresiniz*"></label>
                <div *ngIf="f['mail'].invalid && (f['mail'].dirty || f['mail'].touched)" class="text-danger">
                  Geçerli bir e-posta adresi girin.
                </div>
              </div>
              <div class="col-md-4 ">
                <select formControlName="participationType" [(ngModel)]="selectParticipationType"   name="appointment-date" id="">
                  <option value="Katılım Türü*">Katılım Türü*</option>
                  <option value="Katılımcı">Katılımcı</option>
                  <option value="Ziyaretçi">Ziyaretçi</option>
                  <option value="Basın">Basın</option>
                  <option value="Alım Heyeti">Alım Heyeti</option>
                </select>
                <div *ngIf="f['participationType'].invalid && (f['participationType'].dirty || f['participationType'].touched)" class="text-danger">
                  Bu alan zorunludur.
                </div>
              </div>

              <div class="col-md-4 ">
                <select formControlName="sector" [(ngModel)]="selectSector" id="">
                  <option value="Sektör*">Sektör*</option>
                  <option value="Basın">Basın</option>
                  <option value="VİP">VİP</option>
                  <option value="Bilişim">Bilişim</option>
                  <option value="Bankacılık">Bankacılık</option>
                </select>
                <div *ngIf="f['sector'].invalid && (f['sector'].dirty || f['sector'].touched)" class="text-danger">
                  Bu alan zorunludur.
                </div>
              </div>

              <div class="col-md-4 field">
                <input type="text" formControlName="company" name="company" placeholder="Firma*" required>
                <label for="company" data-title="Firma*"></label>
                <div *ngIf="f['company'].invalid && (f['company'].dirty || f['company'].touched)" class="text-danger">
                  Bu alan zorunludur.
                </div>
              </div>

              <div class="col-md-4 field">
                <input formControlName="task" type="text" name="task" placeholder="Görevi*" required>
                <label for="task" data-title="Görevi*"></label>
                <div *ngIf="f['task'].invalid && (f['task'].dirty || f['task'].touched)" class="text-danger">
                  Bu alan zorunludur.
                </div>
              </div>
              <div class="col-md-4 field">
                <select formControlName="country" [(ngModel)]="selectCountry" name="countries" id="" (change)="onCountryChange($event)">
                  <option value="Ülke*">Ülke*</option>
                  <option *ngFor="let item of country" [value]="item.countryId">{{item.countryName}}</option>
                </select>
                <div *ngIf="f['country'].invalid && (f['country'].dirty || f['country'].touched)" class="text-danger">
                  Bu alan zorunludur.
                </div>
              </div>
              <div class="col-md-4 field">
                <select formControlName="city" [(ngModel)]="selectCity" name="cities" id="">
                  <option value="Şehir*">Şehir*</option>
                  <option *ngFor="let item of City" [value]="item.cityName">{{item.cityName}}</option>
                </select>
                <div *ngIf="f['city'].invalid && (f['city'].dirty || f['city'].touched)" class="text-danger">
                  Bu alan zorunludur.
                </div>
              </div>

            </div>

            <p class="mt-5">
              <strong>Kişisel Verilerin İşlenmesine Yönelik Açık Rıza Beyanı</strong>
            </p>
            <div class="d-flex align-items-baseline">
              <input type="checkbox" name="statement" id="statement" class="me-2 me-md-3">
              <label for="statement" (click)="openModel()" >Buradan Ulaşabilirsinizi</label>
            </div>
            <p class="mt-5">
              <strong>Elektronik Ticari İleti Gönderimine İlişkin Onay</strong>
            </p>
            <div class="d-flex align-items-baseline">
              <input type="checkbox" name="e-com" id="eCom" class="me-2 me-md-3">
              <label for="eCom" (click)="openModelEt()">Buradan Ulaşabilirsiniz</label>
            </div>
            <button class="primary-btn mt-5 bg-dark text-white" id="form-submit-btn"  (click)="add()">Gönder</button>
          </form>
        </div>
      </section>
      <!-- Form Area End -->
      <!--
        validation mask
      -->
     
      <!-- Popup Start -->
   
      <!-- Popup End -->
    </main>
</div>

