<div *ngIf="!load" class="hold-transition login-page">
    <div class="login-box">

        <div class="card card-outline card-danger">
            <div class="card-header text-center">
                <!-- <a class="h1"><b>Toyota </b>Panel</a> -->
              <img src="../../../assets/img/elektraweb-logo.png" alt="Elektraweb Logo"  class="logo brand-image " style="opacity: .8"> 
            </div>
            <div class="card-body">
                <p class="login-box-msg">Oturumunuzu başlatmak için giriş yapın. </p>
                <form [formGroup]="loginForm" method="post">
                    <div class="input-group mb-3">
                        <input type="email" formControlName="userName" placeholder="Username" class="form-control" >
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" formControlName="password" placeholder="Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="">
                            <button type="submit" (click)="login()" class="btn btn-danger btn-block">Giriş Yap</button>
                        </div>
                    </div>
                </form>
        
            </div>

        </div>

    </div>
</div>
<div *ngIf="load">
<app-loader></app-loader>
</div>